ci:
    autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci
    autofix_prs: false
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: monthly
    skip: []
    submodules: false

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:

  # # Protect specific branches from direct commits.
  # - id: no-commit-to-branch
  #   args: [--branch, master, --branch, main, --branch, staging, --branch, production]

  # Trims trailing whitespace.
  - id: trailing-whitespace

  # Prevent giant files from being committed.
  - id: check-added-large-files

  # Simply check whether files parse as valid python.
  - id: check-ast

  # Check for files that contain merge conflict strings.
  - id: check-merge-conflict

  # Attempts to load all xml files to verify syntax.
  - id: check-xml

  # Attempts to load all yaml files to verify syntax.
  - id: check-yaml

  # Check for debugger imports and py37+ breakpoint() calls in python source.
  - id: debug-statements

  # Makes sure files end in a newline and only a newline.
  - id: end-of-file-fixer

  # Sorts entries in requirements.txt and removes incorrect entry for pkg-resources==0.0.0
  - id: requirements-txt-fixer

  # Replaces or checks mixed line ending.
  - id: mixed-line-ending
    args: ['--fix=no']

# Upgrade code style to the current Python version.
- repo: https://github.com/asottile/pyupgrade
  rev: v3.17.0
  hooks:
  - id: pyupgrade
    args: ["--py38-plus", "--keep-runtime-typing"]

# Organize imports.
- repo: https://github.com/PyCQA/isort
  rev: 5.13.2
  hooks:
  - id: isort
    args: ["--profile", "black"]

# Automatically format code.
- repo: https://github.com/psf/black
  rev: 24.8.0
  hooks:
  - id: black
    language_version: python3

# Enforce coding conventions.
- repo: https://github.com/pycqa/flake8
  rev: 7.1.1
  hooks:
  - id: flake8
    args:
    - --extend-ignore=E203  # conflicts with Black
