name: tests

on:
  push:
    branches:
      - main
  pull_request: null

env:
  PY_COLORS: "1"

jobs:
  tests:
    name: tests
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3

      - uses: conda-incubator/setup-miniconda@v2
        with:
          channels: conda-forge,defaults
          channel-priority: strict
          show-channel-urls: true
          miniforge-version: latest
          miniforge-variant: Mambaforge
          python-version: 3.9
          use-mamba: true

      - name: configure conda and install code
        shell: bash -l {0}
        run: |
          mamba install --yes --file=requirements.txt
          mamba install --yes pytest flake8 flaky pip "setuptools_scm>=7" "tomli>=1.0.0" "setuptools>=45"
          python -m pip install -v --no-deps --no-build-isolation -e .

      - name: test versions
        shell: bash -l {0}
        run: |
          pip uninstall conda-forge-metadata --yes
          [[ $(python setup.py --version) != "0.0.0" ]] || exit 1

          rm -rf dist/*
          python setup.py sdist
          pip install --no-deps --no-build-isolation dist/*.tar.gz
          pushd ..
          python -c "import conda_forge_metadata; assert conda_forge_metadata.__version__ != '0.0.0'"
          popd
          pip uninstall conda-forge-metadata --yes

          rm -rf dist/*
          python -m build --sdist . --outdir dist
          pip install --no-deps --no-build-isolation dist/*.tar.gz
          pushd ..
          python -c "import conda_forge_metadata; assert conda_forge_metadata.__version__ != '0.0.0'"
          popd
          pip uninstall conda-smithy --yes

          python -m pip install -v --no-deps --no-build-isolation -e .

      - name: lint
        shell: bash -l {0}
        run: |
          flake8 conda_forge_metadata

      - name: test
        shell: bash -l {0}
        run: |
          pytest -vvs tests
