name: tests

on:
  push:
    branches:
      - main
  pull_request: null

env:
  PY_COLORS: "1"

jobs:
  tests:
    name: tests
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0

      - uses: conda-incubator/setup-miniconda@a4260408e20b96e80095f42ff7f1a15b27dd94ca # v3.0.4
        with:
          channels: conda-forge
          channel-priority: strict
          show-channel-urls: true
          miniforge-version: latest
          python-version: 3.9

      - name: configure conda and install code
        shell: bash -el {0}
        run: |
          mamba install --yes \
            --file=requirements.txt \
            --file=requirements-dev.txt
          python -m pip install -v --no-deps --no-build-isolation -e .

      - name: test versions
        shell: bash -el {0}
        run: |
          pip uninstall conda-forge-metadata --yes
          [[ $(python setup.py --version) != "0.0.0" ]] || exit 1

          rm -rf dist/*
          python setup.py sdist
          pip install --no-deps --no-build-isolation dist/*.tar.gz
          pushd ..
          python -c "import conda_forge_metadata; assert conda_forge_metadata.__version__ != '0.0.0'"
          popd
          pip uninstall conda-forge-metadata --yes

          rm -rf dist/*
          python -m build --sdist . --outdir dist
          pip install --no-deps --no-build-isolation dist/*.tar.gz
          pushd ..
          python -c "import conda_forge_metadata; assert conda_forge_metadata.__version__ != '0.0.0'"
          popd
          pip uninstall conda-forge-metadata --yes

          python -m pip install -v --no-deps --no-build-isolation -e .

      - name: test
        shell: bash -el {0}
        run: |
          pytest -vvs tests
