name: tests

on:
  push:
    branches:
      - main
  pull_request: null

env:
  PY_COLORS: "1"

jobs:
  tests-matrix:
    name: tests-matrix
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: conda-incubator/setup-miniconda@fc2d68f6413eb2d87b895e92f8584b5b94a10167 # v3.3.0
        with:
          channels: conda-forge
          channel-priority: strict
          show-channel-urls: true
          miniforge-version: latest
          python-version: 3.9

      - name: configure conda and install code
        shell: bash -el {0}
        run: |
          conda install --yes \
            --file=requirements.txt \
            --file=requirements-dev.txt
          python -m pip install -v --no-deps --no-build-isolation -e .

      - name: test versions
        if: matrix.os == 'ubuntu-latest'
        shell: bash -el {0}
        run: |
          pip uninstall conda-forge-metadata --yes
          [[ $(python setup.py --version) != "0.0.0" ]] || exit 1

          rm -rf dist/*
          python setup.py sdist
          pip install --no-deps --no-build-isolation dist/*.tar.gz
          pushd ..
          python -c "import conda_forge_metadata; assert conda_forge_metadata.__version__ != '0.0.0'"
          popd
          pip uninstall conda-forge-metadata --yes

          rm -rf dist/*
          python -m build --sdist . --outdir dist
          pip install --no-deps --no-build-isolation dist/*.tar.gz
          pushd ..
          python -c "import conda_forge_metadata; assert conda_forge_metadata.__version__ != '0.0.0'"
          popd
          pip uninstall conda-forge-metadata --yes

          python -m pip install -v --no-deps --no-build-isolation -e .

      - name: test
        shell: bash -el {0}
        run: |
          pytest -vvs tests

  tests-pypi-matrix:
    name: tests-pypi-matrix
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6

      - name: install pip & setuptools
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools
          python -m pip install pytest

      - name: install conda-forge-metadata
        run: |
          pip install -v -e .

      - name: test
        run: |
          pytest -vvs tests

  # dummy test to aggregate status of matrix jobs above
  tests:
    name: tests
    needs: [tests-matrix, tests-pypi-matrix]
    runs-on: ubuntu-latest
    steps:
      - run: exit 0
